*{
    box-sizing: border-box;
}

:root{
    --logo-text-font: 24px;
    --nav-links-font: 18px;
    --lang-font: 18px;
    --banner-height: 454px;
    --section-title: 24px;
    --title1: 26px;
    --title2: 22px;
    --title3: 20px;
    --text1: 18px;
    --text2: 16px;
    --time-font: 18px;
    --padding: 100px 0;
    --padding-b: 100px;
    --padding-t: 100px;
    --see-all: 18px;
    --details-font: 16px;
    --create-font: 16px;
    --brc-font: 16px;
}
.padding{
    padding: var(--padding);
}
.padding-b{
    padding-bottom: var(--padding-b);
}
.padding-t{
    padding-top: var(--padding-t);
}
.header{
    width: 100%;
    padding-top: 25px;
}
.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.l-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.logo-img{
    width: 198px;
    height: 100px;
}

.logo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-text{
    font-size: var(--logo-text-font);
    font-weight: bold;
    line-height: 32px;
    color: #F45228;
    margin-top: 20px;
    transition: 0.3s;
    font-family: 'BPG Nino Mtavruli';
}
.r-header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.r-t-h{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 20px;
}
.faq a, .lang a{
    text-transform: uppercase;
    color: #232962;
    font-weight: bold;
    font-size: var(--lang-font);
    font-family: 'BPG DejaVu Sans';
}
.r-t-h form{
    display: flex;
}

.r-t-h form input{
    outline: none;
    border: none;
    max-width: 212px;
    height: 34px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #F5F5F5;
    padding-left: 15px;
    font-family: 'BPG DejaVu Sans';
}
.r-t-h form button{
    background-color: transparent;
    border: none;
    height: 34px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.r-t-h form button span svg{
    height: 23px;
}

.r-b-h{
    display: flex;
    align-items: center;
    gap: 25px;
}
.r-b-h a{
    color: #393939;
    font-size: 14px;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
    font-style: normal;
}
.r-b-h a:hover{
    color: #232962;
}
.r-b-h span{
    background-color: #D9D9D9;
    height: 20px;
    width: 1px;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    background-color: #232962;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 100px;
    position: relative;
    transition: 0.3s;
    position: sticky;
    top: 0;
}
 
.nav-links ul{
    display: flex;
    align-items: center;
    padding: 0;
}
.nav-links ul li a{
    padding: 26px 22px;
    font-size: var(--nav-links-font);
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    font-family: 'BPG Nino Mtavruli';
    position: relative;
}
 
.nav-links ul li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    bottom: 20px;
    left: 9%;
    transition: 0.3s;
}
.contact-link{
    font-size: var(--nav-links-font);
    color: #FFFFFF;
    font-weight: bold;
    padding: 26px 58px;
    background-color: #F45228;
    transition: 0.3s;
    border-top-right-radius: 4px;
    font-family: 'BPG Nino Mtavruli';
}
.nav-links ul li:hover a::before,
.nav-links ul li.colored a::before{
    width: 83%;
}
.submenu-active{
    height: 155px;
    transition: 0.3s;
}
.submenu-active::before{
    position: absolute;
    content: "";
    width: 200%;
    left: -100%;
    bottom: 0;
    background-color: #EFEFEF;
    height: 80px;
    z-index: 1;
    transition: 0.3s;
}
.submenu-links{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 80px;
    overflow: hidden;
    z-index: 2;
    transition: 0.4s;
    display: none;
 }
 .submenu-links .s-link{
    color: #232962;
    font-family: 'BPG DejaVu Sans';
    font-size: var(--nav-links-font);
    padding: 28px;
    transition: 0.4s;
    padding-right: 80px;
}
.submenu-links .s-link:hover,
.submenu-links  .colored-2{
    color: #F45228;
}
.nav-links ul li:hover .submenu-links .s-link::before{
    width: 0;
}
 
.nav-links ul li:hover .submenu-links{
    display: flex;
}
/* Banner */
.banner{
    position: relative;
    width: 100%;
    margin-bottom: 80px;
    height: var(--banner-height);
}
.banner-in{
    width: 113%;
    position: absolute;
    right: 0;
}
.banner-slider{
    width: 100%;
}
.slider-item{
    position: relative;
    display: block;
}
.slider-img{
    width: 100%;
    height: var(--banner-height);
}
.slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-text{
    padding: 47px 100px 47px 58px;
    position: absolute;
    right: 0;
    bottom: 54px;
    background-color: #232962;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 814px;
}
.slider-text h2{
    font-size: var(--title3);
    font-weight: bold;
    text-transform: capitalize;
    color: #FFFFFF;
    line-height: 32px;
    margin-bottom: 15px;
    font-family: 'BPG Nino Mtavruli';
}
.slider-text .text{
    color: #FFFFFF;
    line-height: 26px;
    max-height: 58px;
    overflow: hidden;
    font-family: 'BPG DejaVu Sans';
}
/* BAnner */
.cit-title-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50%;
    height: 100%;
}
.cit-title-box h1{
    font-size: var(--title1);
    font-weight: bold;
    line-height: 36px;
    color: #232962;
    padding-bottom: 20px;
    width: fit-content;
    position: relative;
    transition: 0.3s;
    font-family: 'BPG Nino Mtavruli';
}
.cit-title-box h1::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DFDFDF;
    transition: 0.3s;
}
.see-all{
    font-size: var(--see-all);
    color: #4B4B4B;
    line-height: 26px;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.see-all:hover{
    color: #232962;
}
.cit-item{
    width: 100%;
    height: 302px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: #EFEFEF;
    transition: 0.3s;
}
.line-img{
    position: absolute;
    top: 0;
    right: 0;
}
.cit-item h1{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    max-height: 51px;
    overflow: hidden;
    color: #232962;
    margin-top: 27px;
    font-family: 'BPG Nino Mtavruli';
}
.cit-item:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
 

.banner-2{
    width: 100%;
    height: 224px;
    position: relative;
}
.banner-2 .b-img-box{
    width: 100%;
    height: 224px;
}
.banner-2 .b-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-2 .text-box{
    position: absolute;
    top: 0;
    left: 52.8%;
    transform: translateX(-50%);
    height: 100%;
    background: rgba(35, 41, 98, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 180px;
}
.banner-2 .text-box h2{
    font-size: 26px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 34px;
    text-transform: capitalize;
    font-family: 'BPG Nino Mtavruli';
}
.details-link{
    font-size: var(--details-font);
    padding: 17px 35px;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.details-link:hover{
    background-color: #FFFFFF;
    color: #232962;
}

.service-box{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.service-item{
    width: calc((100% / 5) - 8px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 33px;
}
.circle{
    width: 157px;
    height: 157px;
    position: relative;
    background-color: #D7D7D7;
    border-radius: 50%;
}
.circle-2{
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: #fff;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.service-item a{
    transition: 0.3s;
    font-size: var(--title3);
    color: #000;
    line-height: 32px;
    max-height: 77px;
    overflow: hidden;
    text-align: center;
    font-family: 'BPG DejaVu Sans';
}
.service-item a:hover{
    color: #232962;
}
.news-section{
    width: 100%;
    background: rgba(246, 246, 246, 0.5);
}

.news-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}
.news-title h2{
    font-size: var(--title1);
    line-height: 36px;
    color: #232962;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
    font-family: 'BPG Nino Mtavruli';
}
.news-boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px 30px;
}
.news-item{
    width: calc((100% / 2) - 15px );
    display: flex;
}
.news-left-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 32px 38px 32px;
    width: calc(100% - 368px);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
}
.news-left-info .time{
    font-size: var(--time-font);
    font-weight: bold;
    color: #FF6138;
    transition: 0.3s;
    line-height: 32px;
    margin-bottom: 55px;
    font-family: 'BPG DejaVu Sans';
}
.news-left-info .text{
    font-size: var(--title3);
    line-height: 28px;
    max-height: 84px;
    overflow: hidden;
    color: #000;
    margin-bottom: 70px;
    font-family: 'BPG Nino Mtavruli';
}
.news-left-info .see-all-link{
    font-size: var(--see-all);
    display: flex;
    align-items: center;
    color: #000;
    transition: 0.3s;
    width: fit-content;
    font-family: 'BPG DejaVu Sans';
}
.news-left-info .see-all-link span{
    margin-left: 10px;
    transition: 0.3s;
}
 .news-item:hover .see-all-link{
    color: #232962;
}
 .news-item:hover .see-all-link span{
    margin-left: 30px;
}
 .news-item:hover .see-all-link span svg path{
    stroke: #232962;
}
.news-img{
    max-width: 368px;
    height: 369px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.news-item:hover .news-img img{
    transform: scale(1.08);
}
.create{
    overflow: hidden;
}
.c-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.c-top a{
    max-width: 288px;
    max-height: 114px;
}
.c-top a img{
    width: 100%;
    height: 100%;
}
.c-top .text{
    margin-left: 5%;
    font-size: var(--text1);
    line-height: 30px;
    max-height: 61px;
    overflow: hidden;
    color: #000;
    width: calc(100% - 288px);
    font-family: 'BPG DejaVu Sans';
}

.c-bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
 
    position: relative;
}
.c-bot::after{
    content: "";
    position: absolute;
    top: -1px;
    left: -50%;
    width: 200%;
    height: 1px;
    background-color: #DFDFDF;
}
.c-bot span, .c-bot a{
    font-size: var(--create-font);
    color: #000;
    font-family: 'BPG DejaVu Sans';
}

/* footer */
.footer{
    background-color: #232962;
}
.footer-contact{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.footer-contact h2{
    font-size: var(--title2);
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    line-height: 32px;
    margin-bottom: 10px;
    font-family: 'BPG Nino Mtavruli';
}
.footer-contact a{
    font-size: var(--text1);
    color: #fff;
    margin-top: 30px;
    line-height: 28px;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.footer-contact a:hover{
    text-decoration: underline;
}
.footer-social{
    margin-top: 130px;
}
.footer-social a{
    margin-right: 45px;
}
.footer-social a svg path{
    transition: 0.3s;
}
.footer-social a:hover svg path{
    fill: #FF6138;
}
.footer-form {
     
    padding-left: 10%;
}
.footer-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-form h2{
    font-size: var(--title2);
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    line-height: 32px;
    margin-bottom: 45px;
    font-family: 'BPG Nino Mtavruli';
}
.footer-form input[type="text"]{
    padding-left: 8px;
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 32px;
    width: calc(50% - 40px);
    outline: none;
    border: none;
    border-bottom: 1px solid #A09E9E;
    background-color: transparent;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.footer-form input[type="mail"]{
    width: 100%;
    margin-top: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid #A09E9E;
    background-color: transparent;
    padding-left: 8px;
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 32px;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.footer-form button{
    margin-top: 60px;
    width: 221px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6138;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    border: none;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.footer-form input:focus-visible{
    border-bottom: 1px solid #fff;
}
.footer-form button:hover{
    background-color: #fff;
    color: #FF6138;
}
.row-2{
    margin-top: 100px;
}
.footer-logo{
    max-width: 208px;
    max-height: 105px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.footer-links h2{
    font-size: var(--text1);
    font-weight: bold;
    color: #fff;
    line-height: 28px;
    margin-bottom: 5px;
    font-family: 'BPG Nino Mtavruli';
}
.footer-links a{
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-top: 15px;
    transition: 0.3s;
    font-family: 'BPG DejaVu Sans';
}
.footer-links a:hover{
    text-decoration: underline;
}
/* footer */

/* About Page */

.banner-img{
    width: 113%;
    margin-left: -13%;
    height: 340px;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brc{
    width: 100%;
    height: 89px;
    position: relative;
    margin-top: -89px;
    z-index: 999;
}
.brc::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    background-color: rgba(35, 41, 98, 0.9);
    z-index: -1;
}
.brc-link{
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    gap: 22px;
}
.brc-link a{
    font-size: var(--brc-font);
    line-height: 26px;
    color: #A4A4A4;
    font-family: 'BPG DejaVu Sans';
    transition: 0.3s;
}
.brc-link a:hover{
    color: #fff;
}
.line-brc{
    background-color: #A4A4A4;
    width: 35px;
    height: 1px;
}
.brc-link span{
    font-size: var(--brc-font);
    line-height: 26px;
    color: #fff;
    font-family: 'BPG DejaVu Sans';
}
.about-page-section{
    width: 100%;
    overflow: hidden;
}
.about-left-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}
.about-left-box h1{
    font-size: var(--section-title);
    line-height: 32px;
    color: #232962;
    margin-bottom: 15px;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
}
.about-left-box .text{
    font-size: var(--text1);
    line-height: 30px;
    color: #000;
    font-family: 'BPG DejaVu Sans';
    padding-right: 10px;
}
.r-img-box{
    width: 100%;
    height: 501px;
    position: relative;
    border-radius: 4px;
    margin-top: 46px;
}
.r-img-box::before{
    position: absolute;
    content: "";
    width: 150%;
    height: 234px;
    background-color: #EFEFEF;
    bottom: -47px;
    right: -80%;
    border-bottom-left-radius: 4px;
    z-index: -1;
}
.r-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.about-gallery-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.about-img-item{
    width: calc((100% / 6) - 25px);
    height: 234px;
    transition: 0.3s;
    margin-top: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.about-img-item2{
    width: calc((100% / 4) - 25px);
}
.about-img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
/* About Page */
.cit-container2{
    background-color: rgba(246, 246, 246, 0.5);
}
.mg-b-1{
    margin-bottom: 100px;
}
.right-accord{
    margin-top: 96px;
}
.accord-box{
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 50px 80px 100px 80px;
    overflow: hidden;
    position: relative;
}
.accord-box h2{
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    font-size: var(--title3);
    font-weight: bold;
    color: #000;
    font-family: 'BPG Nino Mtavruli';
}
.accord-box h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 35%;
    height: 1px;
    background-color: #FF6138;
}
.accord-box ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 30px;
}
.accord-box ul li{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-links-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.top-links-box a{
    font-size: var(--text1);
    color: #000;
    font-family: 'BPG DejaVu Sans';
    margin-bottom: 28px;
}
.top-links-box span{
    cursor: pointer;
}
.hidden-links-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 28px;
    position: relative;
    max-height: 0;
    overflow-y: hidden;
}
.hidden-links-box a{
    font-size: 16px;
    color: #878787;
    font-family: 'BPG DejaVu Sans';
    position: relative;
    transition: 0.3;
}
.hidden-links-box a:hover{
    color: #232962;
}
.hidden-links-box::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 108%;
    width: 2px;
    background-color: #D9D9D9;
}
.hidden-links-box a:before{
    position: absolute;
    content: "";
    top: 40%;
    left: -32px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF6138;
    z-index: 5;
}
.active-accord .hidden-links-box{
    max-height: 300px;

}